<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:fragment="sidebar" class="sidebar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-auto sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top">
                    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center w-100">
                        <li class="nav-item">
                            <a th:href="@{/delivery/form}" class="nav-link py-3 px-2" title="Deliveries">
                                <i class="material-icons">local_shipping</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/visitor/form}" class="nav-link py-3 px-2" title="Visitors">
                                <i class="material-icons">perm_contact_calendar</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/resident/form}" class="nav-link py-3 px-2" title="Residents">
                                <i class="material-icons">group</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link py-3 px-2" title="Mural">
                                <i class="material-icons">dashboard</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
