<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form id="personForm">
    <label for="name">Name:</label>
    <input type="text" id="name" required>
    <br>
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" required>
    <br>
    <label for="username">Username:</label>
    <input type="text" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" required>
    <br>
    <label for="role">Role:</label>
    <select id="role" required>
        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}">Role</option>
    </select>
    <br>
    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday">
    <br>
    <label for="cnh">CNH:</label>
    <input type="text" id="cnh">
    <br>
    <label for="photoUrl">Photo URL:</label>
    <input type="text" id="photoUrl">
    <br>
    <div class="mb-3" id="phone-inputs">
        <label>Telefone(s)</label>
    </div>
    <button type="button" class="btn btn-primary mb-3" id="add-phone">Adicionar Telefone</button>
    <br>
    <button type="submit" id="register">Register</button>
</form>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script>
    $(document).ready(function() {
        $('#register').click(function(e) {
            e.preventDefault();
            var form = $('#personForm')[0];
            var formData = new FormData(form);

            const person = {
                cpf: $('#cpf').val(),
                name: $('#name').val(),
                birthday: $('#birthday').val(),
                phoneNumber: [],
                cnh: $('#cnh').val(),
                photoUrl: $('#photoUrl').val(),
                username: $('#username').val(),
                password: $('#password').val(),
                role: $('#role').val(),
            };

            formData.forEach(function (value, key) {
                if (key === 'phoneNumber') {
                    person.phoneNumber.push(value);
                }
            });

            $.ajax({
                url: '/person/register',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(person),
                success: function () {
                    window.location.href = '/login';
                },
                error: function (response) {
                    let errorMessage = 'An unknown error occurred';
                    if (response.responseJSON && response.responseJSON.message) {
                        errorMessage = response.responseJSON.message;
                    }
                    console.log(errorMessage)
                }
            });
        });

        $("#add-phone").click(function () {
            $("#phone-inputs").append('<div class="col-sm-4"><input type="text" name="phoneNumber" class="form-control mb-2 phone-input" placeholder="Telefone"><button type="button" class="btn btn-danger remove-phone">Remover Telefone</button></div>');
        });

        $(document).on("click", ".remove-phone", function () {
            $(this).parent().remove();
        });
    });
</script>
</body>
</html>
