<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <style>
        .input-group {
            padding: 0;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Register</h1>
    <form id="personForm">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" id="cpf" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" required>
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="role">Role:</label>
                <select class="form-control" id="role" required>
                    <option th:each="role : ${roles}" th:value="${role}" th:text="${role}">Role</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="birthday">Birthday:</label>
                <input type="date" class="form-control" id="birthday">
            </div>
            <div class="form-group col-md-3">
                <label for="cnh">CNH:</label>
                <input type="text" class="form-control" id="cnh">
            </div>
            <div class="form-group col-md-3">
                <label for="photoUrl">Photo URL:</label>
                <input type="text" class="form-control" id="photoUrl">
            </div>
        </div>
        <div class="form-row" id="resident-fields" style="display: none;">
            <div class="form-group col-md-6">
                <label for="apartmentNumber">Apartment Number:</label>
                <input type="text" class="form-control" id="apartmentNumber">
            </div>
            <div class="form-group col-md-6">
                <label for="blockNumber">Block Number:</label>
                <input type="text" class="form-control" id="blockNumber">
            </div>
            <div class="form-group col-md-6">
                <label for="holderCpf">Holder CPF</label>
                <select class="form-control" id="holderCpf" name="holderCpf">
                    <option value="">Select Holder CPF</option>
                    <option th:each="holder : ${persons}" th:value="${holder.cpf}" th:text="${holder.cpf + ' - ' + holder.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-row justify-content-start">
            <div class="col-md-12 mb-3" id="phone-inputs">
                <label>Phone(s)</label>
                <div class="input-group mb-2 col-sm-4">
                    <input type="text" name="phoneNumber" class="form-control phone-input" placeholder="Telefone">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger remove-phone">Remover</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-end">
            <button type="button" class="btn btn-primary mr-3" id="add-phone">Add Phone Number</button>
            <button type="submit" class="btn btn-success" id="register">Register</button>
        </div>
    </form>
</div>


<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script>
    $(document).ready(function() {
        $('#role').change(function() {
            if ($(this).val() === 'RESIDENT') {
                $('#resident-fields').show();
            } else {
                $('#resident-fields').hide();
            }
        });

        $('#register').click(function(e) {
            e.preventDefault();
            var form = $('#personForm')[0];
            var formData = new FormData(form);

            const person = {
                cpf: $('#cpf').val(),
                name: $('#name').val(),
                birthday: $('#birthday').val(),
                phoneNumber: [],
                cnh: $('#cnh').val(),
                photoUrl: $('#photoUrl').val(),
                username: $('#username').val(),
                password: $('#password').val(),
                role: $('#role').val(),
                apartmentNumber: null,
                blockNumber: null,
                holderCpf: null,
            };

            if (person.role === 'RESIDENT') {
                person.holderCpf = $("#holderCpf").val();
                person.apartmentNumber = $('#apartmentNumber').val();
                person.blockNumber = $('#blockNumber').val();
            }

            formData.forEach(function (value, key) {
                if (key === 'phoneNumber') {
                    person.phoneNumber.push(value);
                }
            });

            $.ajax({
                url: '/person/register',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(person),
                success: function () {
                    window.location.href = '/login';
                },
                error: function (response) {
                    let errorMessage = 'An unknown error occurred';
                    if (response.responseJSON && response.responseJSON.message) {
                        errorMessage = response.responseJSON.message;
                    }
                    console.log(errorMessage);
                }
            });
        });

        $("#add-phone").click(function () {
            $("#phone-inputs").append('<div class="input-group mb-2 col-sm-4"><input type="text" name="phoneNumber" class="form-control phone-input" placeholder="Telefone"><div class="input-group-append"><button type="button" class="btn btn-danger remove-phone">Remover</button></div></div>');
        });

        $(document).on("click", ".remove-phone", function () {
            $(this).closest('.input-group').remove();
        });
    });
</script>
</body>
</html>
